.about {
  margin-top: 200px;
  &__title {
    margin: 0;
  }
  &__block {
    &-description {
      width: 1600px;
    }
  }
  &__description {
    margin: 50px 0;
  }
  &__skills {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 80px 0 0 0;
    cursor: pointer;
    & span {
      margin-left: 20px;
    }
  }
}
