.modal__button {
  display: none;
  width: fit-content;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.close-modal {
  z-index: 1;
  position: absolute;
  padding: 0;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  & svg {
    width: 80px;
    height: 80px;
    fill: $main-color;
  }
}
