.projectCard {
  &__block {
    &-logo {
      background-color: $fourth-color;
      height: 400px;
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__logo {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 500px) {
  .projectCard {
    &__block {
      &-logo {
        height: 270px;
        width: 270px;
      }
    }
    &__logo {
      height: 170px;
      width: 170px;
    }
  }
}
