@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$main-color: #e42a2a;
$second-color: #373737;
$third-color: #2d2d2d;
$main-font: Roboto;

:root {
  --main-color: #{$main-color};
  --second-color: #{$second-color};
  --third-color: #{$third-color};
}
