.header {
  background-color: $third-color;
  position: fixed;
  width: -webkit-fill-available;
  height: 100px;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  &__logo {
    width: 43px;
    height: 75px;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    & ul {
      display: flex;
      // flex-direction: row;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &-app {
      width: 900px;
      & li {
        padding: 0 44px;
      }
    }
    &-socials {
      width: 124px;
    }
  }
}

.socials {
  & svg {
    cursor: pointer;
    height: 40px;
    width: 40px;
    fill: $fourth-color;
    transition: all 0.3s;
    &:hover {
      filter: drop-shadow(3px 2px $main-color);
    }
  }
}

@media (max-width: 1270px) {
  .header {
    height: 150px;
    &__nav {
      &-app {
        width: auto;
        & li {
          padding: 0 30px;
        }
      }
      &-socials {
        width: 116px;
      }
    }
  }
}

@media (max-width: 1090px) {
  .header {
    &__nav {
      justify-content: center;
      &-app {
        width: 70%;
        align-content: space-between;
        height: 105px;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      &-socials {
        width: 110px;
      }
    }
  }
}

@media (max-width: 860px) {
  .header {
    height: 240px;
    &__nav {
      &-app {
        height: 210px;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
      }
    }
  }
}
