.header {
  &__nav {
    & a {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.home {
  &__name {
    & h1 {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 96px;
      line-height: 112px;
      color: #ffffff;
    }
  }
  &__job {
    & h2 {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 80px;
      line-height: 94px;
      color: $main-color;
    }
    & h3 {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 59px;
      color: #ffffff;
    }
  }
  &__contact {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
  }
}

.about {
  &__title {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #ffffff;
    & span {
      color: $main-color;
    }
  }
  &__block {
    &-description {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 55px;
      color: #ffffff;
      & span {
        color: $main-color;
      }
    }
  }
  &__skills {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    & span {
      color: $main-color;
    }
  }
}

.work {
  &__title {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #ffffff;
    & span {
      color: $main-color;
    }
  }
}

.contact {
  &__title {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: white;
    & span {
      color: $main-color;
    }
  }
  &__description {
    & p {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 47px;
      color: #ffffff;
      & span {
        color: $main-color;
      }
    }
  }
  &__form {
    & input,
    textarea {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 41px;
      &::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }
    & span {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 41px;
      color: $main-color;
    }
  }
  &__submit {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
  }
}

.projectPage {
  & h5 {
    & span {
      color: $main-color;
    }
  }
  &__title {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #ffffff;
  }
  &__block {
    &-description {
      & h5 {
        font-family: $main-font, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        color: #ffffff;
      }
    }
    &-skills {
      & h5 {
        font-family: $main-font, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        color: #ffffff;
      }
    }
  }
  &__presentation {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;

    color: #ffffff;
  }
  &__description {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
  }
  &__skill {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
  }
  &__check {
    text-decoration: none;
    & svg:nth-child(1) {
      fill: $main-color;
    }
    &-text {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      color: #ffffff;
    }
    & svg:nth-child(3) {
      fill: white;
    }
  }
}

.carousel {
  &__bullet {
    &-point {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 38px;
      color: black;
    }
  }
}

.errorPage {
  & h1 {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 142.6%;
    color: #ffffff;
  }
  & p {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
    & span {
      color: $main-color;
    }
  }
  & a {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
  }
}

.skillsPage {
  &__block {
    &-dev {
      & h4 {
        font-family: $main-font, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
      }
    }
    &-tools {
      & h4 {
        font-family: $main-font, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  &__element {
    & p {
      font-family: $main-font, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 47px;
      color: #ffffff;
    }
  }
}

.radarChart {
  & text {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    fill: #ffffff;
  }
}

.modal {
  &__title {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    & span {
      color: $main-color;
    }
  }
  &__skill {
    font-family: $main-font, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
}
