.header {
  &__nav {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
  }
}

.home {
  &__name {
    & h1 {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 96px;
      line-height: 112px;
      color: #ffffff;
    }
  }
  &__job {
    & h2 {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 80px;
      line-height: 94px;
      color: $main-color;
    }
    & h3 {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 59px;
      color: #ffffff;
    }
  }
  &__contact {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
  }
}

.about {
  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #ffffff;
    & span {
      color: $main-color;
    }
  }
  &__block {
    &-description {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 55px;
      color: #ffffff;
      & span {
        color: $main-color;
      }
    }
  }
  &__skills {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #ffffff;
    & span {
      color: $main-color;
    }
  }
}

.work {
  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #ffffff;
    & span {
      color: $main-color;
    }
  }
}

.contact {
  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: white;
    & span {
      color: $main-color;
    }
  }
  &__description {
    & p {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 47px;
      color: #ffffff;
      & span {
        color: $main-color;
      }
    }
  }
  &__form {
    & input,
    textarea {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 41px;
      &::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }
    & span {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 41px;
      color: $main-color;
    }
  }
  &__submit {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
  }
}
