.home {
  &__name {
    & h1 {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-top: 280px;
      height: 230px;
      width: 400px;
    }
  }
  &__block {
    &-bottom {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__job {
    & h2 {
      margin: 180px 0 0 0;
    }
    & h3 {
      margin: 40px 0 0 0;
    }
    &-letter {
      display: none;
    }
    &-bar {
      opacity: 0;
    }
  }
}
