.workPage {
  .work {
    margin-top: 0px;
    padding-top: 100px;
  }
}

@media (max-width: 1270px) { 
  .workPage {
    .work {
      padding-top: 120px;
    }
  }
}

@media (max-width: 860px) { 
  .workPage {
    .work {
      padding-top: 220px;
    }
  }
}
